[package]
name = "checkpoint"
version = "0.1.0"
edition = "2024"

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
strip = true
panic = "abort"

[dependencies]
actix-web = "4"
awc = "3"
serde = "1"
serde_json = "1"
